---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class="card">
  <h3>Reading books</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius distinctio,
    ducimus sed quisquam quaerat, numquam reprehenderit nulla dolores eveniet
    qui tenetur laborum, ipsum blanditiis debitis accusamus? Quasi perspiciatis
    et repellat?
  </p>
</div>
