<input type="text" name="title" id="title-input" />
<input type="text" name="description" id="description-input" />
<button id="todo-add-btn">Add To Do</button>
<ul id="todo-list"></ul>

<div id="todo-container"></div>
<div id="in-progress-container"></div>
<div id="done-container"></div>

<script src="../script/Todo.ts"></script>
